body {
    background-color: whitesmoke;
    font-size: 20px;
    font-style: oblique; 
    margin:0;
}

 h1{
    color:black;
    text-shadow:2px 2px 5px black (28, 76, 0.8);
    padding:20px;
    text-align: center;
    font-size:50px;
 }
 hr {
    border:5px solid green;
}

.thin {
    border:1px solid green;

}

.site-name {
    display: inline-block;
   /* background-color: yellow;
    border: 1px solid green;*/ 
}


div {
    background-color:lightgrey;
    width:100%;
    border:25px solid green;
    padding:40px;
    margin:5px;
}

h2{
    font-size:24px;
}

.topnav a{
    float:left;
    color:black;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:24px;
}

.topnav{
    overflow: hidden;
    background-color: rgb(78, 123, 78);
}

.topnav a:hover{
    background-color: whitesmoke;
    color: black;
}